<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.admaiorastudio.listy" android:versionCode="1" android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="17" />
	<application android:label="Listy" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>